body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 1920px;
}
main {
    /* overflow-x: hidden; */
}
/* 반응형 대비 최소제한 너비 설정 */
header, main {min-width: 900px;}
/* header */
body {background: #F8F8F8;}
/* header */
header {}
header nav {
    position: fixed;
    top: 50%; transform: translateY(-50%);
    right: 30px; z-index: 9999;
}
header nav .gnb {
    display: flex; flex-flow: column nowrap;
    align-items: center; background: #fff;
    padding: 15px 8px; border-radius: 50px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
header nav .gnb a {
    padding-bottom: 30px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
header nav .gnb a span {
    font-weight: 700; padding-top: 5px;
}
header nav .gnb a:hover {
    filter: invert(29%) sepia(25%) saturate(6481%) hue-rotate(231deg) brightness(93%) contrast(98%);
}
header nav .gnb a:last-child {
    padding-bottom: 0;
}
header nav .gnb a img {
    color: #4E4FEB;
}
/* 1. home */
main {}
main > * {padding: 0 60px;}
main #home {height: 100vh; text-align: center;}
main #home h1 {padding-top: 200px;}
main #home h1 img {}
main #home .mouse {
    position: absolute; left: 50%; bottom: 60px;
    transform: translateX(-50%);
}
main #home .mouse img {
    animation: mousemove 1s linear infinite alternate;
}
@keyframes mousemove {
    0% {transform: translateY(-10px);}
    100% {transform: translateY(10px);}
}
/* 2.Skill */
main #skills {}
main #skills h1 {
    font-size: 2.5rem; font-weight: 700;
    padding: 50px 0 80px 0;
}
main #skills .container {}
main #skills .container ul {
        /* 스킬 9개 수직 줄바꿈으로 배치하는 flex */
    display: flex; flex-flow: column wrap;
    height: 900px;
}
main #skills .container ul li {
    /* 아이콘 글자 옆으로 배치하는 flex */
    display: flex; flex-flow: row nowrap;
    width: calc(50% - 60px /2); margin-bottom: 70px;
}
main #skills .container ul li:nth-child(odd) {
    margin-right: 60px;
}
main #skills .container ul li .icon {margin-right: 64px;}
main #skills .container ul li .icon img {}
main #skills .container ul li .contents {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; height: 100px;
}
main #skills .container ul li .contents .title {
    font-weight: 500;
    letter-spacing: -0.02em; font-size: 1.25rem;
}
main #skills .container ul li .contents .txt {
    letter-spacing: -0.02em; font-size: 1.25rem;
    font-weight: 300; line-height: 28px;
}
main #skills .container ul li .contents .txt {}
/* 목차 */
main #table {}
main #table .title {
    text-align: center; padding-bottom: 88px;
    padding: 140px 0 88px 0 ;
}
main #table .title p {
    font-size: 1.875rem; font-weight: 300; padding-bottom: 42px;
}
main #table .title h1 {
    font-size: 3.125rem; font-weight: 700;
}
main #table .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: center; padding-bottom: 240px;
}
main #table .contents ul {
    margin-right: 16px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #table .contents ul:last-child {
    margin-right: 0;
}
main #table .contents ul li {}
main #table .contents ul li img {}
main #table .contents ul li a {
    font-size: 1.25rem; padding: 5px 20px;  font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; background-color: #fff;
    transition: all 0.3s;
}
main #table .contents ul li a:hover {
    background-color: #4E4FEB; color: #fff;
}
/* 3. info */
main #info {
    display: flex; flex-flow: row nowrap;
    /* max-width: calc(100% - 140px); */
    width: 1440px; height: 100vh;
    margin: 0 auto;
    padding-top: 280px;
}
main #info h1 {}
main #info h1 img {margin-right: 50px;}
main #info .personal {
    display: flex; flex-flow: column nowrap;
}
main #info .personal h2 {
    font-size: 2.5rem; font-weight: 300;
    line-height: 50px;
}
main #info .personal h2 em {
    font-size: 2.5rem; font-weight: 700;
}
main #info .personal h2 img {
    padding: 57px 0 121px 0;
}
main #info .personal p {
    line-height: 30px; font-size: 1.25rem;
}
main #info .line {}
main #info .line span {
    content: ''; display: block;
    width: 1px; height: 510px; border: 1px dashed;
    border-color: #aaa;
    margin-left: 54px; margin-right: 54px;
}
main #info .txt {}
main #info .txt h2 {
    font-size: 1.625rem; font-weight: 700;
    letter-spacing: -0.02em;  margin-bottom: 30px;
}
main #info .txt .log {}
main #info .txt .log ul {margin-bottom: 68px;}
main #info .txt .log li {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 8px;
}
main #info .txt .log li >* {font-size: 1.4rem; letter-spacing: -0.02em;}
main #info .txt .log li .date {margin-right: 50px;}
main #info .txt .log li p {line-height: 30px;}
main #info .txt .log dl dd {}
/* 4. web redesign */
main #web {}
main #web .web_frm {height: 100vh;}
main #uiux .web_frm {height: 100vh;}
main #landing .web_frm {height: 100vh;}
main #web .title {
    margin: 52px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
}
main #web .title h1 {
    font-size: 1.875rem; font-weight: 700; letter-spacing: -0.02em;
}
main #web .title .btn {}
main #web .title .btn a {
    font-size: 1.25rem; font-weight: 500;
    padding: 6px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.3s;
}
main #web .title .btn>*:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
}
main #web .title .btn a:last-child {
    background-color: #4E4FEB;
    margin-right: 0;
}
main #web .title .btn a span {
    font-size: 1.25rem; font-weight: 500; color: #fff;
}
main #web .txt {}
main #web .txt .project_info {
    line-height: 36px;
    font-weight: 300; font-size: 1.2rem; letter-spacing: -0.02em;
}
main #web .preview {margin-top: 40px;}
main #web .preview img {
    margin-left: 54%; transform: translateX(-50%);
}
/* 5. uiux */
main #uiux {}
main #uiux .title {
    margin: 52px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
}
main #uiux .title h1 {
    font-size: 1.875rem; font-weight: 700; letter-spacing: -0.02em;
}
main #uiux .title .btn {}
main #uiux .title .btn a {
    font-size: 1.25rem; font-weight: 500;
    padding: 6px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.3s;
}
main #uiux .title .btn>*:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
}
main #uiux .title .btn a:last-child {
    background-color: #4E4FEB;
    margin-right: 0;
}
main #uiux .title .btn a span {
    font-size: 1.25rem; font-weight: 500; color: #fff;
}
main #uiux .txt {}
main #uiux .txt .project_info {
    line-height: 36px;
    font-weight: 300; font-size: 1.2rem; letter-spacing: -0.02em;
}
main #uiux .preview {margin-top: 40px;}
main #uiux .preview img {
    width: 55%;
    margin-left: 54%; transform: translateX(-50%);
}
/* 6. landing */
main #landing {}
main #landing .title {
    margin: 52px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
}
main #landing .title h1 {
    font-size: 1.875rem; font-weight: 700; letter-spacing: -0.02em;
}
main #landing .title .btn {}
main #landing .title .btn a {
    font-size: 1.25rem; font-weight: 500;
    padding: 6px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.3s;
}
main #landing .title .btn>*:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
}
main #landing .title .btn a:last-child {
    background-color: #4E4FEB;
    margin-right: 0;
}
main #landing .title .btn a span {
    font-size: 1.25rem; font-weight: 500; color: #fff;
}
main #landing .txt {}
main #landing .txt .project_info {
    line-height: 36px;
    font-weight: 300; font-size: 1.2rem; letter-spacing: -0.02em;
}
main #landing .preview {margin-top: 40px;}
main #landing .preview img {
    margin-left: 54%; transform: translateX(-50%);
}
/* 7. 상세페이지 */
main #page {}
main #page .title {
    margin: 52px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
}
main #page .title h1 {
    font-size: 1.875rem; font-weight: 700; letter-spacing: -0.02em;
}
main #page .title .btn {}
main #page .title .btn a {
    font-size: 1.25rem; font-weight: 500;
    padding: 6px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin-right: 15px;
    transition: all 0.3s;
}
main #page .title .btn>*:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
}
main #page .title .btn a:last-child {
    background-color: #4E4FEB;
    margin-right: 0;
}
main #page .title .btn a span {
    font-size: 1.25rem; font-weight: 500; color: #fff;
}
main #page .txt {}
main #page .txt .project_info {
    line-height: 36px;
    font-weight: 300; font-size: 1.2rem; letter-spacing: -0.02em;
}
main #page .preview {margin-top: 40px;}
main #page .preview img {
    margin-left: 46%; transform: translateX(-50%);
}
/* 8. sns */
main #sns {height: 100vh; 
    display: flex; flex-flow: column nowrap;
    justify-content: center; position: relative;
}
main #sns .title {text-align: center;}
main #sns .title p {font-size: 1.25rem; font-weight: 300;
    letter-spacing: -0.02em; padding-bottom: 42px;}
main #sns .title h1 {font-size: 3rem; font-weight: 700;
    letter-spacing: -0.02em; padding-bottom: 100px;}
main #sns #sns_s {width: 1380px;}
main #sns #sns_s .sns_w {}
main #sns #sns_s .sns_w a {}
main #sns #sns_s .sns_w a .swiper-slide {}
/* 개별 슬라이드 */
main #sns #sns_s .sns_w a .slider1 {}
main #sns #sns_s .sns_w a .slider2 {}
main #sns #sns_s .sns_w a .slider3 {}
main #sns #sns_s .sns_w a .slider4 {}
main #sns #sns_s .sns_w a .slider5 {}
main #sns #sns_s .sns_w a .slider6 {}
main #sns #sns_s .sns_w a .slider7 {}
main #sns #sns_s .sns_w a .slider8 {}
main #sns #sns_s .sns_w a .slider9 {}
/* 스와이퍼 버튼 */
main #sns .swiper-button-prev::after,
main #sns .swiper-button-next::after {display: none;}
main #sns .swiper-button-prev {
    background: url(../images/prev.png);
    background-repeat: no-repeat;
    top: 65%; transform: translateY(-50%); left: 10%;
}

main #sns .swiper-button-next {
    background: url(../images/next.png);
    background-repeat: no-repeat;
    top: 65%; transform: translateY(-50%); right: 10%;
}
/* 9. card */
main #card {height: 100vh;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
}
main #card .title {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #card .title p {
    font-size: 1.25rem; font-weight: 300;
    letter-spacing: -0.02em;}
main #card .title h1 {font-size: 3rem; font-weight: 700;
    letter-spacing: -0.02em; padding: 42px 0;}
main #card .title .btn {}
main #card .title .btn button {
    font-weight: 700; font-size: 1.25rem;
    padding: 5px 20px; background-color: #fff; color: #000;
    border-radius: 50px; margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}
main #card .title .btn button:hover {
    background-color: #4E4FEB; color: #fff;
}
main #card .title .btn a:last-child {
    margin-right: 0px;
}
main #card ul {
    display: flex; flex-flow: row nowrap;
    justify-content: center; margin-top: 62px;
}
main #card ul li {margin-right: 20px;}
main #card ul li:last-child {margin-right: 0px;}
main #card ul li a {}
main #card ul li a img {}
/* 목차 - 편집 */
main #table_edit {}
main #table_edit .title {
    text-align: center; padding-bottom: 88px;
    padding: 140px 0 88px 0 ;
}
main #table_edit .title p {
    font-size: 1.875rem; font-weight: 300; padding-bottom: 42px;
}
main #table_edit .title h1 {
    font-size: 3.125rem; font-weight: 700;
}
main #table_edit .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: center; padding-bottom: 240px;
}
main #table_edit .contents ul {
    margin-right: 16px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #table_edit .contents ul:last-child {
    margin-right: 0;
}
main #table_edit .contents ul li {}
main #table_edit .contents ul li:first-child {
    padding-bottom: 20px;
}
main #table_edit .contents ul li img {}
main #table_edit .contents ul li a {
    font-size: 1.25rem; padding: 5px 20px;  font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; background-color: #fff;
    transition: all 0.3s;
}
main #table_edit .contents ul li a:hover {
    background-color: #4E4FEB; color: #fff;
}
/* 10. edit */
main #edit {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main #edit ul {}